<script>
  import { onMount } from "svelte";
  import { age, submitAge, gameHeight } from "../store";
  import { GAME_VIEWS, IS_MOBILE_VK } from "../store/constants";
  import { text } from "../helpers/i18";
  let inputRef = null;
  onMount(() => {
    setTimeout(() => inputRef.focus(), 100);
  });

  $: isMobileSafari = navigator.userAgent.match(/(iPod|iPhone|iPad)/);
  let focus = true;
</script>

<div class="message" class:isWidget={IS_MOBILE_VK}>
  <div class="header">{text('ENTER_YOUR_AGE')}</div>
  <div class="ageTitle" class:isMobileSafari={isMobileSafari && focus}>
    {text('MAY_AGE_IS')}:
  </div>
  <form on:submit={submitAge} class="form">
    <input
      bind:this={inputRef}
      type="number"
      bind:value={$age}
      class="age"
      on:focus={() => (focus = true)}
      on:blur={() => (focus = false)} />
  </form>
</div>

<div class="ageContainer" />

<div class="buttons" class:hideWhenFocus={focus && $gameHeight < 400}>

  <button class="button" on:click={submitAge} disabled={!$age}>
    {text('SUBMIT')}
  </button>
</div>

<style>
  .message {
    position: fixed;
    top: 40px;
    left: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--color1);
    max-width: calc(100vw - 80px);
  }
  @media (min-width: 600px) {
    .message {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .header {
    font-size: 40px;
  }
  .buttons {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  .button {
    border: none;
    outline: none;
    min-width: 300px;
    padding: 16px;
    background: var(--color2);
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .button:disabled {
    opacity: 0.5;
  }
  .ageTitle {
    margin-top: 64px;
    margin-bottom: 16px;
    font-size: 19px;
  }
  .isMobileSafari {
    margin-top: 16px;
  }
  .age {
    background: none;
    border: none;
    border-bottom: 2px solid var(--color1);
    border-radius: 0;
    color: var(--color1);
    font-size: 40px;
    outline: none;
    width: calc(100% - 40px);
  }
  .age::-webkit-outer-spin-button,
  .age::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .age[type="number"] {
    -moz-appearance: textfield;
  }

  .hideWhenFocus {
    display: none;
  }
  .isWidget{
    margin-top:50px;
  }
</style>
