<script>
  import { onMount } from "svelte";
  import {
    gameWidth,
    gameHeight,
    gameState,
    setPointer,
    resetPointer,
    startPointer,
    gameView
  } from "../store";
  import { GAME_VIEWS, IS_VK } from "../store/constants";

  import Hud from "./Hud.svelte";
  import Intro from "./Intro.svelte";
  import Age from "./Age.svelte";
  import Lose from "./Lose.svelte";
  import Win from "./Win.svelte";
  import Quiz from "./Quiz.svelte";
  import QuizIntro from "./QuizIntro.svelte";
  import { start } from "../game";

  let canvas = null;
  const views = {
    [GAME_VIEWS.GAME]: Hud,
    [GAME_VIEWS.INTRO]: Intro,
    [GAME_VIEWS.AGE]: Age,
    [GAME_VIEWS.LOSE]: Lose,
    [GAME_VIEWS.WIN]: Win,
    [GAME_VIEWS.QUIZ]: Quiz,
    [GAME_VIEWS.QUIZ_INTRO]: QuizIntro
  };

  onMount(() => {
    const {overscrollBehavior, height, overflow} = getComputedStyle(document.body)
    document.body.style.overscrollBehavior = "none";
    document.body.style.overflow = "hidden";
    return () => {
      document.body.style.overscrollBehavior = overscrollBehavior;
      document.body.style.overflow = overflow;
      document.body.style.height = height
    };
  });
  $: {
    if (canvas) start(canvas);
  }
  $: isPlayig = $gameView === GAME_VIEWS.GAME;
</script>

{#if $gameState === 'loaded'}
  <div
    class="game"
    on:mousedown={isPlayig ? startPointer : null}
    on:touchstart={isPlayig ? startPointer : null}
    on:mousemove={isPlayig ? setPointer : null}
    on:touchmove={isPlayig ? setPointer : null}
    on:touchend={isPlayig ? resetPointer : null}
    on:mouseup={isPlayig ? resetPointer : null}>
    <canvas
      class:isBackground={$gameView !== GAME_VIEWS.GAME}
      bind:this={canvas}
      width={$gameWidth}
      height={$gameHeight} />
    <svelte:component this={views[$gameView]} />
  </div>
{/if}

<style>
  .game {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background: white;
    z-index: 1999;
  }
  .isBackground {
    filter: blur(4px);
  }
</style>
