<script>
  import Immunity from "../components/Immunity.svelte";
  import { fade } from "svelte/transition";
  import { tweened } from "svelte/motion";
  import { immunity } from "../store";
  import { text } from "../helpers/i18";
  const opacity = tweened(1, {
    duration: 3000
  });
  opacity.set(0);
  const forceOpacity = () => opacity.set(0, { duration: 200 });
</script>

<Immunity />
{#if $opacity > 0}
  <div class="immunity">
    <div
      class="pressAndHold"
      style={`opacity: ${$opacity}`}
      on:mousedown={forceOpacity}
      on:touchstart={forceOpacity}>
      {text('PRESS_AND_HOLD')}
    </div>
  </div>
{/if}

<style>
  .pressAndHold {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 28px;
  }
  .immunity {
    user-select: none;
    position: fixed;
    top: 40px;
    left: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--color2);
  }

  @keyframes pulsate-bck {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
