<script>
  import { replay } from "../store";
  import { GAME_VIEWS, IS_MOBILE_VK, IS_VK } from "../store/constants";
  import SocialShare from "../components/SocialShare.svelte";
  import LearnMore from "../components/LearnMore.svelte";
  import Close from "../components/Close.svelte";
  import { text } from "../helpers/i18";
</script>


<div class="container">
  <div class="message" class:isWidget={IS_MOBILE_VK}>
    <div class="primary">{text('VIRUS_WIN')}</div>
   
  </div>

  <LearnMore>
    {#if IS_VK}
      <div class="prize">{text('WIN_TO_GET_PRIZE')}</div>
    {:else}
      <div class="prize">{text("PLAY_IN_VK_TO_WIN")}</div>
    {/if}
  </LearnMore>
  <div class="buttons">

    <button class="button" on:click={replay}>{text('REPLAY')}</button>

    <SocialShare />
  </div>
</div>
<Close />
<style>
  .prize {
    text-align: center;
    color: var(--color1);
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 16px;
  }
  .container {
    position: fixed;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    max-width: 600px;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .primary {
    text-align: center;
    font-size: 40px;
    color: var(--color1);
  }
  .secondary {
    text-align: center;
    margin-top: 16px;
    font-size: 19px;
    color: var(--color1);
  }

  .button {
    border: none;
    outline: none;
    min-width: 300px;
    padding: 16px;
    background: var(--color2);
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .isWidget {
    margin-top: 40px;
  }
</style>
