<script>
  import { fade } from "svelte/transition";
  import {sendMetrik} from '../helpers'
  import {
    activeQuestion,
    selectedAnswer,
    nextQuestion,
    isAnswerCorrect,
    quizTimer
  } from "../store/quiz";
  import { QUIZ_TIME } from "../store/constants";
  import Like from "../assets/Like.svelte";
  import Dislike from "../assets/Dislike.svelte";
  import Timer from "../components/Timer.svelte";
  import { text } from "../helpers/i18";
  let correctIndex = null;

  const selectAnswer = i => {
    if ($selectedAnswer !== null) return;
    selectedAnswer.set(i);
    if ($isAnswerCorrect !== false) setTimeout(nextQuestion, 1000);
  };
  const onGameContinue = ()=>{
    sendMetrik('QuizContinueFail')
    nextQuestion()
  }
</script>

<div class="quizContainer">
  <div class="questionContainer">
    <div>{$activeQuestion.question}</div>
  </div>

  <div class="timeAndButtonsContainer">
    <div class="resultContainer">
      <div class="timer">
        <Timer
          time={$quizTimer}
          totalTime={QUIZ_TIME}
          visible={$isAnswerCorrect !== false} />
      </div>
      {#if $isAnswerCorrect === true}
        <div class="resultIcon" transition:fade|local>
          <Like />
        </div>
      {:else if $isAnswerCorrect === false}
        <div class="resultIcon dislike" transition:fade|local>
          <Dislike />
        </div>
      {/if}
    </div>

    <div class="buttonsContainer">
      {#each $activeQuestion.answers as answer, i}
        <div class="buttonWrapper">
          <button
            on:click={() => selectAnswer(answer)}
            class="button answerButton"
            class:isCorrect={$selectedAnswer === answer && $activeQuestion.answer === answer}
            class:isCorrectAnswer={$selectedAnswer !== null && $selectedAnswer !== answer && $activeQuestion.answer === answer}
            class:isWrong={$selectedAnswer === answer && $activeQuestion.answer !== answer}>
            {answer}
          </button>
        </div>
      {/each}
    </div>
  </div>
  <div class="bottomButtonContainer">
    {#if $isAnswerCorrect === false}
      <button
        transition:fade|local
        class="button submitButton"
        disabled={$selectedAnswer === null}
        on:click={onGameContinue}>
        {text('PROCEED')}
      </button>
    {/if}
  </div>
</div>

<style>
  .quizContainer {
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--color1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .buttonWrapper {
    /* flex-basis: 50%; */
    display: flex;
    width: 100%;
  }
  .button {
    border: none;
    outline: none;
    background: none;
    color: var(--color1);
    font-size: 18px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 600;
    
  }
  .answerButton {
    flex-grow: 1;
    margin: 8px 24px;
    border: 1px solid var(--color1);
    box-sizing: border-box;
    font-size: 18px;
  }
  .answerButton:active {
    background: none;
  }

  .resultIcon {
    background: #64c816;
    border-radius: 15px;
    padding: 16px;
    position: absolute;
    right: 0;
  }
  @media (max-width: 600px) {
    .resultIcon {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
  .isCorrect {
    background: #64c816;
    border-color: #64c816;
    color: white;
  }
  .isWrong {
    background: var(--color2);
    border-color: var(--color2);
    color: white;
  }
  .isCorrectAnswer {
    border-color: #64c816;
  }
  .dislike {
    background: #c8161d;
  }

  .questionContainer {
    font-size: 28px;
    padding: 40px 32px;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .resultContainer {
    min-height: 67px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    position: relative;
    margin-bottom: 16px;
  }
  .buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    
  }

  .bottomButtonContainer {
    padding: 16px;
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
  }
  .timer {
    align-self: center;
  }
  .timeAndButtonsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .submitButton{
    background: var(--color2);
    border-radius: 20px;
    color: white;
    min-width: 300px;
  }
</style>
