<script>
  import { gameView, proceedToQuiz } from "../store";
  import { IS_MOBILE_VK } from "../store/constants";
  import { text } from "../helpers/i18";
</script>

<div class="message" class:isWidget={IS_MOBILE_VK}>
  <div class="primary">{text('VIRUS_DEFEATED')}</div>
  <div class="secondary">{text('TEST_KNOWLEDGE')}</div>
</div>

<div class="buttons">
  <button class="button" on:click={proceedToQuiz}>
    {text('ANSWER_QUESTIONS')}
  </button>
</div>

<style>
  .message {
    position: fixed;
    top: 40px;
    left: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--color1);
    max-width: calc(100vw - 80px);
  }
  @media (min-width: 600px) {
    .message {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .primary {
    font-size: 40px;
  }
  .secondary {
    margin-top: 16px;
    font-size: 19px;
  }
  .buttons {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  .button {
    border: none;
    outline: none;
    min-width: 300px;
    padding: 16px;
    background: #c8161d;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .isWidget {
    margin-top: 50px;
  }
</style>
