<script>
  import { onMount } from "svelte";
  import { sendMetrik } from "../helpers";
  import { fade } from "svelte/transition";
  import { IS_VK } from "../store/constants";
  import Logo from "../assets/Logo.svelte";
  import Headphones from "../assets/Headphones.svelte";
  import { startWidget, preloadIndicator, gameState } from "../store";
  import { text, lang } from "../helpers/i18";
  $: introText = text("INTRO_PHRASES")[
    Math.floor(Math.random() * text("INTRO_PHRASES").length)
  ];
  let showPlayWithSound = true;
  onMount(() => {
    sendMetrik("Visible", { lang });
    setTimeout(() => (showPlayWithSound = false), 1000);
  });
  const changeLang = () => {
    localStorage.setItem("covidlang", lang==='ru' ? 'en': 'ru')
    location.reload();
  }
</script>

<div class="widget" id="covidWidget" class:isVk={IS_VK}>
  <div class="container">
    <div>
      <div class="text primary">{text('IMMUNITY')}</div>
      <div class="text secondary">
        {text('CATCH_VIRUSES')}
        <br />
        {text('ANSWER_QUESTIONS_WIDGET')}
      </div>
    </div>
    <div>
      <Logo />
    </div>
    <div class="bottomContainer">
      {#if $preloadIndicator === 1}
        <div class="startButtonCOntainer">
          <button
            class="button startButton"
            on:click={startWidget}
            transition:fade|local>
            {text('START')}
          </button>
          <button
            class="lang"
            on:click={changeLang}>{lang === 'ru' ? 'EN' : 'RU'}</button>
        </div>
      {/if}
      <div class="loaderContainer" class:hidden={$preloadIndicator === 1}>
        <div class="loader">
          <div class="indicator" style={`width:${$preloadIndicator * 100}%`} />
        </div>
        <div class="introText">{introText || ''}</div>
      </div>
    </div>
  </div>
  {#if showPlayWithSound && $preloadIndicator !== 1}
    <div class="playWithSound" transition:fade|local>
      <Headphones />
      <div class="playWithSoundText">{text('PLAY_WITH_SOUND')}</div>
    </div>
  {/if}
</div>

<style>
  .lang {
    outline: none;
    background: none;
    color: var(--color1);
    font-size: 12px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 600;

    margin: 8px 24px;
    border: 1px solid var(--color1);
    
    cursor: pointer;
    
    margin: 24px 0;
  }
  .lang:hover {
    color: var(--color2);
    border: 1px solid var(--color2);
  }
  .playWithSound {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--color1);
  }
  .playWithSoundText {
    padding-top: 8px;
    text-align: center;
    white-space: pre-wrap;
  }
  .loader {
    margin-top: 23px;
    margin-bottom: 24px;
    min-width: 300px;
    max-width: 300px;
    height: 4px;
    border-radius: 4px;
    border: 1px solid var(--color2);
  }
  .indicator {
    background: var(--color2);
    height: 100%;
  }
  .widget {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    max-width: 600px;
    justify-content: flex-start;
  }
  .text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--color1);
    padding: 8px 16px;
    text-align: center;
  }
  .primary {
    font-size: 40px;
  }
  .secondary {
    font-size: 19px;
  }
  .button {
    border: none;
    outline: none;
    min-width: 300px;
    padding: 16px;
    background: #c8161d;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .introText {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--color1);
    padding: 8px 16px;
    text-align: center;
  }
  .isVk {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .isVk .container {
    height: 100%;
    justify-content: space-around;
    overflow: auto;
  }
  .isVk .playWithSound {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    justify-content: center;
    padding-top: 0;
  }
  .loaderContainer {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .isVk .primary {
    margin-top: 50px;
  }
  .bottomContainer {
    position: relative;
  }
  .hidden {
    visibility: hidden;
  }
  .startButtonCOntainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .isVk .startButtonCOntainer {
    transform: translate(-50%, -50%);
    top: 50%;
  }
</style>
