<script>
  import { close } from "../store";
  import { sendMetrik } from "../helpers";
  import { IS_VK } from "../store/constants";
  import Close from "../assets/Close.svelte";
</script>

{#if !IS_VK}
  <div class="closeContainer">
    <button class="button" on:click={close}>
      <Close />
    </button>
  </div>
{/if}

<style>
  .closeContainer {
    position: fixed;
    top: 20px;
    left: calc(100% - 40px);
    width: 0px;
  }
  .button {
    background: none;
    outline: none;
    border: none;
  }
  .button:active {
    background: none;
  }
</style>
