<script>
  import { BASE_URL, IS_WIDGET } from "../store/constants";
  (function(m, e, t, r, i, k, a) {
    m[i] =
      m[i] ||
      function() {
        (m[i].a = m[i].a || []).push(arguments);
      };
    m[i].l = 1 * new Date();
    (k = e.createElement(t)),
      (a = e.getElementsByTagName(t)[0]),
      (k.async = 1),
      (k.src = r),
      a.parentNode.insertBefore(k, a);
  })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(53183122, "init", {
    clickmap: true,
    trackLinks: true,
    accurateTrackBounce: true,
    webvisor: false
  });
</script>

<svelte:head>
  <style>
    html {
      overflow: hidden;
      width: 100%;
    }

    body {
      position: fixed;
      /* prevent overscroll bounce*/
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      /* iOS velocity scrolling */
      width: 100%;
      margin: 0;
    }
  </style>
  {#if IS_WIDGET}
    <link rel="stylesheet" href={`${BASE_URL}/build/bundle.css`} />
    <style>
      #covidWidget .playWithSound {
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        color: var(--color1);
      }
      #covidWidget .playWithSoundText {
        padding-top: 8px;
        text-align: center;
        white-space: pre-wrap;
      }
      #covidWidget .loader {
        margin-top: 23px;
        margin-bottom: 24px;
        min-width: 300px;
        height: 4px;
        border-radius: 4px;
        border: 1px solid var(--color2);
      }
      #covidWidget .indicator {
        background: var(--color2);
        height: 100%;
      }
      #covidWidget.widget {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        --color1: #ef3340;
        --color2: #c8161d;
      }
      #covidWidget .container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 0;
        max-width: 600px;
        justify-content: flex-start;
      }
      #covidWidget .text {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        color: var(--color1);
        padding: 8px 16px;
        text-align: center;
      }
      #covidWidget .primary {
        font-size: 40px;
      }
      #covidWidget .secondary {
        font-size: 19px;
      }
      #covidWidget .button {
        border: none;
        outline: none;
        min-width: 300px;
        padding: 16px;
        background: #c8161d;
        border-radius: 20px;
        color: white;
        font-weight: 600;
        font-size: 18px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }
      #covidWidget .introText {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        color: var(--color1);
        padding: 8px 16px;
        text-align: center;
      }
      #covidWidget.isVk {
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #covidWidget.isVk .container {
        height: 100%;
        justify-content: space-around;
        overflow: auto;
      }
      #covidWidget.isVk .playWithSound {
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        justify-content: center;
        padding-top: 0;
      }
      #covidWidget .loaderContainer {
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      #covidWidget.isVk .primary {
        margin-top: 50px;
      }
      #covidWidget .bottomContainer {
        position: relative;
      }
      #covidWidget .hidden {
        visibility: hidden;
      }
      #covidWidget .startButton {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        top: 0%;
      }
      #covidWidget.isVk .startButton {
        transform: translate(-50%, -50%);
        top: 50%;
      }
    </style>
  {/if}
</svelte:head>
