<script>
  import { immunity } from "../store";
  import { IS_VK } from "../store/constants";
  import Human from "../assets/Human.svelte";
  const arr = new Array(10).fill(0);
</script>

<div class="immunity" class:isWidget={IS_VK}>

  {#each arr as item, i}
    <div class="humanWrapper">

      <Human opacity={$immunity / 10 - i} />
    </div>
  {/each}
</div>

<style>
  .immunity {
    display: flex;
    user-select: none;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .humanWrapper {
    width: 20px;
    height: 20px;
    margin-right: 2px;
  }
  .isWidget {
    margin-top: 50px;
  }
</style>
