<script>
  import { sendMetrik } from "../helpers";
  import { text } from "../helpers/i18";
  import { BASE_URL, IS_VK } from "../store/constants";
</script>

<div class="learnMore">

  <div class="screenliferBlock">
    <slot />
    <div>{text('MORE_INFO')}</div>

    <a
      href={IS_VK ? 'https://vk.com/screenlifer' : 'http://screenlifer.com/quarantine/'}
      target="_blank"
      class="screenliferLink"
      on:click={() => sendMetrik('ScreenliferLink')}>
      <img
        class="screenliferLogo"
        src={`${BASE_URL}/assets/logo-screenlife.png`}
        alt="screenlife logo" />
      <div>{IS_VK ? 'Screenlifer' : 'Screenlifer.com'}</div>
    </a>

  </div>
</div>

<style>
  .screenliferBlock {
    color: var(--color1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 19px;
    /* border: 2px solid var(--color1); */

    min-width: 300px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .screenliferLink {
    margin-top: 8px;
    text-decoration: none;
    color: #2b2b2b;
    font-size: 19px;
    display: flex;

    align-items: center;
    border: 2px solid var(--color1);
    padding: 8px;
    border-radius: 20px;
    min-width: 300px;
    box-sizing: border-box;
    justify-content: center;
  }
  .screenliferLink:visited {
    color: #2b2b2b;
    display: flex;
    align-items: center;
  }
  .screenliferLogo {
    width: 20px;
    margin-right: 8px;
  }
  .learnMore {
    display: flex;
    justify-content: center;
    margin: 24px 0;
  }
</style>
