<script>
  import screenliferLogo from "../assets/screenliferLogo";
  export let notification = {};
</script>

<a
  on:click
  class="notificationContainer"
  href={notification.link}
  target="_blank">
  
    <div>
      <img
        class="screenliferLogo"
        src={screenliferLogo}
        alt="screenlife logo" />
    </div>
  
  <div class="contentContainer">
    <div class="titleContainer">
      <div class="notificationTitle">{notification.title}</div>
      <div>сейчас</div>
    </div>
    <div class="notificationContent">
      {@html notification.content}
    </div>
  </div>

</a>

<style>
.screenliferLogo{
    margin-right: 12px;
    margin-top:8px;
}
.notificationTitle{
    line-height: 24px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
}
.contentContainer{
    width:100%;
}
.titleContainer{
    display: flex;
    justify-content: space-between;
}
  .notificationContainer {
    display: flex;
    widows: 100%;
    color: rgba(0, 0, 0, 0.54);
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-radius: 4px;
    background: #fafafa;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
    padding: 16px;
    
    font-size: 14px;
    text-decoration: none;
  }
  .notificationContainer:visited {
    color: rgba(0, 0, 0, 0.54);
  }
  .notificationContent :global(a) {
    color: rgba(0, 0, 0, 0.54);
  }
  .notificationContent :global(a:visited) {
    color: rgba(0, 0, 0, 0.54);
  }
</style>
