<script>
  import screenliferLogo from "../assets/screenliferLogo";
  export let notification = {};
</script>

<a
  on:click
  class="notificationContainer"
  href={notification.link}
  target="_blank">
  <div class="notificationTitleContainer">
    <div class="logoContainer">
      <div class="imageContainer">
        <img
          class="screenliferLogo"
          src={screenliferLogo}
          alt="screenlife logo" />
      </div>
      <div class="notificationLogoTitile">Screenlifer</div>
    </div>
    <div class="notificationNow">сейчас</div>
  </div>
  <div class="notificationTitle">{notification.title}</div>
  <div class="notificationContent">
    {@html notification.content}
  </div>
</a>


<style>
  .notificationTitleContainer {
    display: flex;
    justify-content: space-between;
  }
  .notificationNow {
    opacity: 0.5;
  }
  .notificationLogoTitile {
    opacity: 0.5;
    text-transform: uppercase;
  }
  .notificationContainer {
    display: block;
    width: 100%;
    color: #151515;
    background: #f2f2f2;
    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    border-radius: 22px;
    padding: 19px;
    font-size: 16px;
    text-decoration: none;
  }
  .notificationContainer:visited {
    color: #151515;
  }
  .logoContainer {
    display: flex;
    align-items: center;
  }
  .notificationTitle {
    font-weight: bold;
    margin: 8px 0 4px 0;
  }
  .imageContainer {
    margin-right: 8px;
  }
  .notificationContent :global(a) {
    color: #151515;
  }
  .notificationContent :global(a:visited) {
    color: #151515;
  }
</style>
