<script>
  import { BASE_URL, IS_VK, IS_MOBILE_VK } from "../store/constants";
  import { playSample } from "../store/audio";
  import { gameView } from "../store";
  import { GAME_VIEWS } from "../store/constants";
  import { sendMetrik } from "../helpers";
  import NotificationIos from "./NotificationIos.svelte";
  import NotificationAndroid from "./NotificationAndroid.svelte";
  import notifications from "./notifications";

  const targetNotifications = IS_VK ? notifications.vk : notifications.widget;
  let notificationIndex = 0;
  $: notification = targetNotifications[notificationIndex];
  let isOpen = false;

  const toggle = () => (isOpen = !isOpen);
  let timeoutId = null;

  const scheduleNotification = () => {
    const timeout = 12000 * (notificationIndex + 1);
    clearTimeout(timeoutId);
    timeoutId = setTimeout(showNotification, timeout);
  };

  const showNotification = () => {
    if (!targetNotifications[notificationIndex]) return;
    if ($gameView !== GAME_VIEWS.GAME && $gameView !== GAME_VIEWS.QUIZ) {
      playSample("SMS");
      toggle();
      sendMetrik("ViewPush", { shownPushId: notification.id });
    }
    scheduleNotification();
  };
  gameView.subscribe(state => {
    if (
      state !== GAME_VIEWS.GAME &&
      state !== GAME_VIEWS.QUIZ &&
      targetNotifications[notificationIndex]
    ) {
      clearTimeout(timeoutId);
      timeoutId = setTimeout(showNotification, 1000);
    }
  });

  $: if (isOpen) {
    setTimeout(() => {
      notificationIndex++;
      toggle();
    }, 5000);
  }

  const notificationClick = () =>
    sendMetrik("PushPush", { clickedPushId: notification.id });

  function slide(node, { duration }) {
    return {
      duration,
      css: t => {
        return `transform: translate(-50%, -${100 - t * 100}%);`;
      }
    };
  }

  const isAndroid = /android/i.test(navigator.userAgent);
  const isIos = /iPad|iPhone|iPod/.test(navigator.userAgent);
</script>

{#if isOpen}
  <div
    transition:slide|local={{ duration: 200 }}
    class="notificaiton"
    class:isVkIos={isIos && IS_MOBILE_VK}>
    {#if isAndroid}
      <NotificationAndroid {notification} on:click={notificationClick} />
    {:else}
      <NotificationIos {notification} on:click={notificationClick} />
    {/if}
  </div>
{/if}

<style>
  .notificaiton {
    width: calc(100% - 22px);
    max-width: 500px;
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
  }
  .isVkIos {
    top: 85px;
  }
</style>
