<script>
  import { sendMetrik } from "../helpers";
  import {vkParams} from '../store'
  import bridge from "@vkontakte/vk-bridge";
  import { IS_VK } from "../store/constants";
  import { text } from "../helpers/i18";
  import Vk from "../assets/Vk.svelte";
  import Facebook from "../assets/Facebook.svelte";
  import Twitter from "../assets/Twitter.svelte";
  import Ok from "../assets/Ok.svelte";
  const url = encodeURIComponent(window.location.href);
  const shareVk = ()=>{
    sendMetrik('SocialShare', { target: 'vk' })
    bridge.send("VKWebAppShare", {"link": `https://vk.com/app${vkParams.appId}#${vkParams.id}`})
  }
</script>

<div class="social">
  {#if IS_VK}
    <button class="shareVkButton" on:click={shareVk}>{text('SHARE')}</button>
  {:else}
    <div class="text">{text('SHARE')}</div>
    <div class="socialButtons">
      <a
        href="https://vk.com/share.php?url=${url}"
        target="_blank"
        rel="noopener"
        aria-label="Share on vkontakte"
        on:click={() => sendMetrik('SocialShare', { target: 'vk' })}>
        <Vk />
      </a>
      <a
        href={`https://connect.ok.ru/offer?url=${url}&title=${encodeURIComponent(text('TWITTER_TEXT'))}`}
        target="_blank"
        rel="noopener"
        aria-label="Share on ok"
        on:click={() => sendMetrik('SocialShare', { target: 'ok' })}>
        <Ok />
      </a>
      <a
        href={`https://facebook.com/sharer/sharer.php?u=${url}`}
        target="_blank"
        rel="noopener"
        aria-label="Share on Facebook"
        on:click={() => sendMetrik('SocialShare', { target: 'facebook' })}>
        <Facebook />
      </a>

      <a
        class="resp-sharing-button__link"
        href={`https://twitter.com/intent/tweet/?text=${encodeURIComponent(text('TWITTER_TEXT'))}&url=${url}`}
        target="_blank"
        rel="noopener"
        aria-label="Share on Twitter"
        on:click={() => sendMetrik('SocialShare', { target: 'twitter' })}>
        <Twitter />
      </a>
    </div>
  {/if}

</div>

<style>
  .shareVkButton {
    border: none;
    outline: none;
    min-width: 300px;
    padding: 16px;
    background: #FAFAFA;
    border-radius: 20px;
    color: var(--color1);
    font-weight: 600;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      cursor: pointer;
  }
  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    margin-top: 24px;
  }
  .socialButtons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  .text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--color1);
    font-size: 19px;
    margin-bottom: 24px;
  }
</style>
