<script>
  export let time = 0;
  export let totalTime = 1;
  export let visible = false;
  $: percent = (time / totalTime) * 100;
  $: seconds = Math.ceil(time / 1000);
</script>

<div class="timerContainer">
  {#if visible}
    <svg viewBox="0 0 36 36" class="timerSvg">
      <path
        class="timerBackground"
        d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0
        -31.831"
        fill="none"
        stroke-width="1"
        stroke-dasharray="100, 100" />
      <path
        class="timer"
        d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0
        -31.831"
        fill="none"
        stroke="#444"
        stroke-width="4"
        stroke-dasharray={`${percent}, 100`} />
      <text x="18" y="23" class="text" text-anchor="middle">{seconds}</text>
    </svg>
  {/if}
</div>

<style>
  .timerContainer {
    width: 67px;
    height: 67px;
  }
  .text {
    fill: var(--color1);;
  }
  .timer {
    stroke: var(--color1);;
    stroke-linecap: round;
  }
</style>
