<svg
  width="32"
  height="32"
  viewBox="0 0 32 32"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0)">
    <path
      d="M4.08934 17.7452C2.3024 17.7452 0.847412 16.2903 0.847412
      14.5033V4.12906C0.847412 2.34212 2.3024 0.887129 4.08934
      0.887129H7.97968C8.70978 0.887129 9.38148 1.1335 9.92485
      1.54332V17.7452H4.08934Z"
      fill="white" />
    <path
      d="M31.9701 12.8823C31.9701 13.6617 31.6615 14.3879 31.1259
      14.9235C31.7315 15.5861 32.0402 16.4744 31.9558 17.399C31.8041 19.0472
      30.3193 20.3388 28.5739 20.3388H20.5637C20.9605 21.5435 21.5959 23.7519
      21.5959 25.5259C21.5959 28.3386 19.2059 30.713 17.7055 30.713C16.3582
      30.713 15.396 29.9544 15.3545 29.9233C15.2015 29.8001 15.112 29.6133
      15.112 29.4163V25.0189L11.3773 16.9283L11.2217 16.8492V2.95028C12.2772
      2.45232 13.6129 2.18388 14.4636 2.18388H26.3668C27.779 2.18388 29.0148
      3.13574 29.3052 4.44934C29.4544 5.12498 29.3675 5.80579 29.0706
      6.39712C30.0289 6.87952 30.6734 7.86639 30.6734 8.99198C30.6734 9.45104
      30.5683 9.89064 30.3686 10.2887C31.3269 10.7711 31.9701 11.758 31.9701
      12.8823Z"
      fill="white" />
  </g>
  <defs>
    <clipPath id="clip0">
      <rect
        width="31.1227"
        height="31.1227"
        transform="matrix(1 0 0 -1 0.847656 31.3615)"
        fill="white" />
    </clipPath>
  </defs>
</svg>
