
<svg  viewBox="0 0 511.04 511.04" width="64" height="64">
<g>
	<path style="fill:#FF3D43;" d="M233.209,104.738c-2.967-3.757-73.296-91.913-128.816-84.252   c-19.686,2.718-34.847,16.554-45.06,41.123c-14.09,33.895-15.261,61.447-3.48,81.889c14.667,25.45,43.739,29.556,44.969,29.719   c0.325,0.043,0.653,0.064,0.981,0.064h125.519c4.142,0,7.5-3.358,7.5-7.5v-56.395C234.823,107.7,234.254,106.062,233.209,104.738z"/>
	<path style="fill:#FF3D43;" d="M451.706,61.609c-10.213-24.569-25.373-38.405-45.059-41.123   c-55.509-7.663-125.85,80.496-128.816,84.252c-1.045,1.324-1.614,2.962-1.614,4.648v56.395c0,4.142,3.358,7.5,7.5,7.5h125.519   c0.328,0,0.656-0.021,0.981-0.064c1.23-0.163,30.302-4.269,44.969-29.719C466.968,123.055,465.797,95.504,451.706,61.609z"/>
	<path style="fill:#D62D2D;" d="M227.323,138.781H101.804c-0.328,0-0.656-0.021-0.981-0.064c-1.23-0.163-30.302-4.268-44.969-29.719   c-2.828-4.907-4.901-10.228-6.237-15.943c-3.727,19.851-1.657,36.746,6.237,50.443c14.667,25.45,43.739,29.556,44.969,29.719   c0.325,0.043,0.653,0.064,0.981,0.064h125.519c4.142,0,7.5-3.358,7.5-7.5v-34.5C234.823,135.423,231.465,138.781,227.323,138.781z"/>
	<path style="fill:#D62D2D;" d="M455.186,108.998c-14.667,25.45-43.739,29.556-44.969,29.719c-0.325,0.043-0.653,0.064-0.981,0.064   H283.717c-4.142,0-7.5-3.358-7.5-7.5v34.5c0,4.142,3.358,7.5,7.5,7.5h125.519c0.328,0,0.656-0.021,0.981-0.064   c1.23-0.163,30.302-4.269,44.969-29.719c7.894-13.698,9.964-30.592,6.237-50.443C460.088,98.77,458.014,104.091,455.186,108.998z"/>
	<path style="fill:#D62D2D;" d="M283.717,101.886h-56.395c-4.142,0-7.5,3.358-7.5,7.5v56.395c0,4.142,3.358,7.5,7.5,7.5h56.395   c4.142,0,7.5-3.358,7.5-7.5v-56.395C291.217,105.244,287.859,101.886,283.717,101.886z"/>
	<path style="fill:#9E1219;" d="M219.823,138.781v27c0,4.142,3.358,7.5,7.5,7.5h56.395c4.142,0,7.5-3.358,7.5-7.5v-27H219.823z"/>
	<path style="fill:#FFD039;" d="M465.65,232.366H45.39c-4.142,0-7.5,3.358-7.5,7.5v218.568c0,17.972,14.621,32.593,32.593,32.593   h370.074c17.972,0,32.593-14.621,32.593-32.593V239.866C473.15,235.723,469.792,232.366,465.65,232.366z"/>
	<path style="fill:#F4B70C;" d="M465.65,232.366H45.39c-4.142,0-7.5,3.358-7.5,7.5v32.224h435.26v-32.224   C473.15,235.723,469.792,232.366,465.65,232.366z"/>
	<path style="fill:#FFDF65;" d="M503.54,158.281H7.5c-4.142,0-7.5,3.358-7.5,7.5v74.084c0,4.142,3.358,7.5,7.5,7.5h496.04   c4.142,0,7.5-3.358,7.5-7.5v-74.084C511.04,161.639,507.682,158.281,503.54,158.281z"/>
	<path style="fill:#FFCD2C;" d="M0,212.865v27c0,4.142,3.358,7.5,7.5,7.5h496.04c4.142,0,7.5-3.358,7.5-7.5v-27H0z"/>
	<path style="fill:#FF3D43;" d="M292.603,158.281h-74.167c-4.142,0-7.5,3.358-7.5,7.5v317.745c0,4.142,3.358,7.5,7.5,7.5h74.167   c4.142,0,7.5-3.358,7.5-7.5V165.781C300.103,161.639,296.746,158.281,292.603,158.281z"/>
	<path style="fill:#D62D2D;" d="M292.603,158.281h-27v332.745h27c4.142,0,7.5-3.358,7.5-7.5V165.781   C300.103,161.639,296.746,158.281,292.603,158.281z"/>
</g>
</svg>
