<script>
  export let opacity = 1;
</script>

<svg viewBox="0 0 160 400">

  <path
    d="M12 96L53.5 86.5L41.5 55V32.5L59 10.5H100.5L117.5 27L122 48L115 71.5L105
    86.5L148 96V230H117.5V390H45V230H12V96Z"
    style={`fill: #64c816; opacity:${opacity}`} />
  <path
    d="M120 80H115.68C123.312 71.496 128 60.304 128 48C128 21.528 106.472 0 80
    0C53.528 0 32 21.528 32 48C32 60.304 36.688 71.496 44.32 80H40C17.944 80 0
    97.944 0 120V232C0 236.424 3.584 240 8 240H32V392C32 396.424 35.584 400 40
    400H120C124.416 400 128 396.424 128 392V240H152C156.416 240 160 236.424 160
    232V120C160 97.944 142.056 80 120 80ZM144 224H128V120H120H112V384H88V240C88
    235.576 84.416 232 80 232C75.584 232 72 235.576 72
    240V384H48V120H40H32V224H16V120C16 106.768 26.768 96 40 96H120C133.232 96
    144 106.768 144 120V224ZM48 48C48 30.352 62.352 16 80 16C97.648 16 112
    30.352 112 48C112 65.648 97.648 80 80 80C62.352 80 48 65.648 48 48Z"
    style={`fill: ${opacity >= 1 ? 'green' : 'var(--color1)'}`} />
</svg>
