<svg
  width="32"
  height="32"
  viewBox="0 0 32 32"
  >
  <g clip-path="url(#clip0)">
    <path
      d="M4.08934 13.8549C2.3024 13.8549 0.847412 15.3098 0.847412
      17.0968V27.471C0.847412 29.258 2.3024 30.713 4.08934
      30.713H7.97968C8.70978 30.713 9.38148 30.4666 9.92485
      30.0568V13.8549H4.08934Z"
      fill="white" />
    <path
      d="M31.9701 18.7178C31.9701 17.9384 31.6615 17.2122 31.1259
      16.6766C31.7315 16.014 32.0402 15.1257 31.9558 14.2011C31.8041 12.5529
      30.3193 11.2613 28.5739 11.2613H20.5637C20.9605 10.0566 21.5959 7.84818
      21.5959 6.07418C21.5959 3.26147 19.2059 0.887085 17.7055 0.887085C16.3582
      0.887085 15.396 1.6457 15.3545 1.67682C15.2015 1.80004 15.112 1.98677
      15.112 2.18384V6.5812L11.3773 14.6718L11.2217 14.7509V28.6498C12.2772
      29.1478 13.6129 29.4162 14.4636 29.4162H26.3668C27.779 29.4162 29.0148
      28.4644 29.3052 27.1508C29.4544 26.4751 29.3675 25.7943 29.0706
      25.203C30.0289 24.7206 30.6734 23.7337 30.6734 22.6081C30.6734 22.1491
      30.5683 21.7095 30.3686 21.3114C31.3269 20.829 31.9701 19.8421 31.9701
      18.7178Z"
      fill="white" />
  </g>
  <defs>
    <clipPath id="clip0">
      <rect
        x="0.847656"
        y="0.238678"
        width="31.1227"
        height="31.1227"
        fill="white" />
    </clipPath>
  </defs>
</svg>
