<script>
  import { crossfade, scale, fade } from "svelte/transition";
  import { initVk } from "./store/vk";
  import { preloadIndicator } from "./store";
  import { IS_VK } from "./store/constants";
  import { onDestroy } from "svelte";
  import Game from "./views/Game.svelte";
  import Widget from "./views/Widget.svelte";
  import NotificationController from "./components/NotificationController.svelte";
  import {
    gameWidth,
    gameHeight,
    gameState,
    onVisibilityChange
  } from "./store";

  import HeaderFiles from "./components/HeaderFiles.svelte";
  import "./helpers/points";

  if (IS_VK) initVk();
  let gameRef = null;
  const [send, receive] = crossfade({
    duration: 200,
    fallback: scale
  });

  document.addEventListener("visibilitychange", onVisibilityChange);
  onDestroy(() => {
    document.body.removeChild(gameRef);
    document.removeEventListener("visibilitychange", onVisibilityChange);
  });
  $: if (gameRef) {
    document.body.appendChild(gameRef);
  }
  $: {
    document.querySelector("html").style.height = `${$gameHeight - 1}px`;
    document.querySelector("body").style.height = `${$gameHeight - 1}px`;
  }
</script>

{#if !$gameState}
  <div in:receive={{ key: 'widget' }} out:fade>
    <Widget />
  </div>
{:else}
  <div
    id="covidsvelteGame"
    in:receive={{ key: 'game' }}
    out:send={{ key: 'game' }}
    class="game"
    bind:this={gameRef}>
    <Game />
    <NotificationController />
  </div>
{/if}

<svelte:window bind:innerWidth={$gameWidth} bind:innerHeight={$gameHeight} />
<HeaderFiles />

<style>
  :global(#covidsvelte) {
    user-select: none;
    -webkit-user-select: none;
    --color1: #ef3340;
    --color2: #c8161d;
  }
  #covidsvelteGame {
    z-index: 99999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    background-size: cover;
    user-select: none;
    -webkit-user-select: none;
    --color1: #ef3340;
    --color2: #c8161d;
  }
</style>
